{% extends 'bootstrap/base.html' %}

{% block navbar %}
{{nav.navbar.render()}}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'message' %}
        <div class="alert alert-warning" role="alert">
      {% else %}
        <div class="alert alert-{{ category }}" role="alert">
      {% endif %}
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}

{% block styles %}
{{super()}}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block head %}
{{super()}}
<script src="/static/ckeditor/ckeditor.js"></script>
{% endblock %}

<html>
 <body>
    {% block content %}{% endblock %}
  </body>
</html>
