{% extends 'base.html' %}
{% import 'material/wtf.html' as wtf %}

{% block title %}Home{% endblock %}

{% block content %}

{% for issue in issues %}
<div class='issue-card'>
  {{ issue.project.key }}-{{ issue.id }}
<p class='issue-title'>{{ issue.title }}</p>
{{ issue.typename() }}
<textarea readonly>
{{ issue.description }}
</textarea>
</div>
{% endfor %}

<a class="waves-effect waves-light btn modal-trigger" href="#createModal"><i class="fa fa-cogs fa-2x"></i> Create issue</a>

<div id="createModal" class="modal">
  <div class="modal-content">
    <h4>Create issue</h4>
      {{ wtf.quick_form(form, action=url_for('api.issues')) }}
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close btn">Close</a>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems, {opacity: 0.5, dismissible: false});
    });
</script>
{% endblock %}
